body {
  margin: 0;
  font-family: Georgia, serif;
}

/* NAVBAR MAIN */
.medium-nav {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 25px; */
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LEFT */
.left-section {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* Hamburger */
.menu-btn {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-btn span {
  width: 18px;
  height: 2px;
  background: #000;
  border-radius: 10px;
}

/* LOGO */
.logo {
  font-size: 32px;
  font-weight: bold;
}

/* CENTER */
.center-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 350px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 10px;
}

.search-icon {
  font-size: 18px;
  opacity: 0.6;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
}

/* RIGHT */
.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.write-btn {
  background: transparent;
  /* border: 1px solid black; */
  border: none !important;
  padding: 6px 14px;
  /* border-radius: 25px; */
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 300;
}

.bell {
  font-size: 22px;
  cursor: pointer;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.user-badge {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  border-radius: 50px;
  background: #f5f5f5;
  cursor: pointer;
  transition: 0.2s ease;
}

.user-badge:hover {
  background: #eaeaea;
}

.avatar {
  width: 34px;
  height: 34px;
  background: #6c6c6c;
  color: white;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.username {
  font-weight: 600;
  font-size: 15px;
  color: #333;
}
