<div class="container">
  <nav class="medium-nav" *ngIf="showDefaultNavbar()">
    <div class="left-section">
      <!-- <button class="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button> -->

      <div class="logo">IdeaPulse</div>
    </div>

    <div class="center-section">
      <div class="search-box">
        <i class="bi bi-search"></i>
        <input type="text" placeholder="Search" />
      </div>
    </div>

    <div class="right-section">
      <button class="write-btn" (click)="goToAddBlog()">
        <i class="bi bi-pencil-square"></i>
        Write
      </button>
      <!-- <i class="bell"></i> -->

      <!-- <img class="profile" src="/assets/profile.jpg" /> -->
    </div>
  </nav>

  <nav class="medium-nav" *ngIf="!showDefaultNavbar()">
    <div class="left-section">
      <!-- <button class="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button> -->

      <div class="logo">IdeaPulse</div>
    </div>

    <!-- <div class="center-section">
      <div class="search-box">
        <i class="bi bi-search"></i>
        <input type="text" placeholder="Search" />
      </div>
    </div> -->

    <div class="right-section">
      <!-- <button class="write-btn">
        <i class="bi bi-send"></i>
        Publish
      </button> -->
      <!-- <i class="bell"></i> -->

      <!-- <img class="profile" src="/assets/profile.jpg" /> -->
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
