.image-card {
  padding: 15px;
  padding-top: 0;
  border-radius: 10px;
  background: #ffffff;
  /* border: 1px solid #e6e6e6; */
}

.preview-box,
.placeholder-box {
  width: 100%;
  height: 230px;
  border-radius: 10px;
  border: 2px dashed #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder-box p {
  margin: 0;
  font-size: 15px;
}

input[type="file"]::-webkit-file-upload-button {
  background: #212529;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
